<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bonjour Teddy,</h1>
    <p>
      Tu as reçu un nouveau message sur MonPatois:<br />
	&nbsp; Expediteur: <%= @name %><br />
	&nbsp; Adresse email: <%= @mail %><br />
	&nbsp; Message: <%= @message %><br />
</p>

    
  </body>
</html>