<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bonjour <%= @name %>,</h1>
    <p>
      <%= @inviter %> souhaites discuter avec toi en langue maternelle. Rejoins le sur MonPatois à l'adresse <%= @url %> et inscris toi, tu pourras ainsi te confronter avec d'autres personnes dans diverses langues maternelles, et aussi enrichir le lexique de celles-ci.<br />
      Une fois enregistré, n'oublies pas de passer l'invitation à tes amis.<br /> <br />
	  Bonne journée.<br />
	  L'équipe technique de MonPatois.
</p>

    
  </body>
</html>