<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Bien cher <%= @user.name %></h2>
    <p>
        Suite à votre demande, votre mot de passe sur MonPatois a été regénéré.
		Votre nouveau mot de passe est: <%= @new_password %><br />
		
		Si vous n'êtes pas l'auteur de cette requête, nous vous conseillons de 
		regenérer votre mot de passe dans la section "Mot de passe oulié" de MonPatois.

    </p>
    <p>      
	  L'équipe technique.
    </p>
  </body>
</html>