<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenu, <%= @user.name %></h1>
    <p>
      L'équipe de MonPatois vous souhaite la bienvenue.
MonPatois est une plateforme qui a pour objectif de promouvoir la diffusion des
langues maternelles de toutes les nations. Si vous avez reçu ce message, c'est
que vous avez décidé d'approfondir et/ou diffuser la connaissance de votre langue
maternelle, et nous sommes orgeuilleux de vous avoir parmi nous.
</p>
<p>
Maintenant que vous possedez un compte MonPatois, vous êtes en mesure de partciper
activement à la plateforme. La prochaine étape est la sélection de la langue dans
laquelle vous désirez interagir. Si vous ne trouvez pas votre langue parmi celles 
proposées, nous vous invitions à creer une nouvelle langue. Celle-ci sera visible 
à tous les autres utilisateurs une fois que l'équipe technique aura vérifié son
authenticité.
Une fois que vous aurez selectionné votre langue maternelle, il ne vous restera
plus qu'à traduire des mots du dictionnaire Français, proposer des expressions, et 
exprimer votre vote sur les traductions et expressions des autres auteurs.
Une section Forum est aussi diponibile pour chaque langue, à l'intérieur de laquelle
vous pouvez proposer ou participer à des sujets de discussion avec d'autres 
utilisateurs dans votre langue maternelle.
</p>
<p>
N'oubliez pas de controller votre tableau de bord, qui montre une statistique de 
votre connaissance en langues nationales. En particulier, il vous est assigné 
une médaille en fonction de votre niveau de connaissance de langues nationales.
Les différents Médailles par ordre croissant sont: "villageois", "chef de famille",
"notable", "chef de village", "linguiste".
</p>
<p>
N'hésitez pas à nous contacter vous toutes informations et surtout suggestions.
</p>
<p>
Bon divertissement sur Monpatois.
</p>
<p>
L'équipe technique.
    </p>
    
  </body>
</html>