<p id="notice"><%= notice %></p>

<p>
  <%= @comment.text %>
</p>

<p>
  <b><%= t(:sure_to_delete)%>?</b> 
</p>

<%= button_to t(:OK), {:action => "destroy", :controller => "comments", :id => @comment}, :method => :delete %>
