<%= render :partial => 'languages/show', :locals => {:language => @language} %>
<br />
<div id="dictionary" class="dictionary"></div>
<div id="expressions" class="expressions"></div>
<script type="text/javascript">
	load_dictionary('<%= @language.id%>', 'a', '1');
	load_expressions('<%= @language.id%>', '1');
</script>

<script type="text/javascript" >
	jQuery(document).ready(function($) {
		$('a[rel*=facebox]').facebox({
			loadingImage : '/images/loading.gif',
			closeImage : '/images/closelabel.png'
		})
	});

	$(function() {
		// Calling Dictionary Page
		$("#dictionary_page").click(function() {
			$(".expressions").hide();
			$(".dictionary").show();
			return false;
		});
		
		// Calling Expressions Page
		$("#expressions_page").click(function() {
			$(".expressions").show();
			$(".dictionary").hide();
			return false;
		});

		// Calling Forum Page
		/*$("#forum_page").click(function(){
		 $(".lexique").hide();
		 $(".forum").show();
		 return false;
		 });*/

	}); 
</script>

